In [1]:
# Nativos
import random as rn
import os
import sys
import gc
import json

#calculo
import numpy as np
import pandas as pd
import scipy as sp

#grafico
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
%matplotlib inline
sns.set(style="whitegrid")

#warning ignore future
import warnings
# warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")
gc.collect()

BASE_DIR = os.path.dirname(os.getcwd())
if BASE_DIR not in sys.path: sys.path.append(BASE_DIR)

#from utils import *
#from graphs import *

SEED = 29082013
os.environ['PYTHONHASHSEED']=str(SEED)
np.random.seed(SEED)
rn.seed(SEED)

subfolder = "data"
os.listdir(subfolder)

['.ipynb_checkpoints',
 'CONTENT_CATEGORY.zip',
 'CONTENT_CATEGORY_BOTTOM.zip',
 'CONTENT_CATEGORY_TOP.zip',
 'conversiones.zip',
 'data.zip',
 'data2.zip',
 'device_data.zip',
 'PAGE.zip',
 'pageviews.zip',
 'pageviews_complemento.zip',
 'pageview_with_previous_2.csv',
 'sampleSubmission.zip',
 'SITE_ID.zip']

### Configuraci√≥n

In [2]:
col_user = 'USER_ID'

In [3]:
convertion = pd.read_csv(
    "{}/conversiones.zip".format(subfolder), dtype={col_user: int, 'mes': int}
).drop_duplicates()[['USER_ID','mes']].sort_values(
    [col_user,'mes']
).reset_index(drop=True)

display(convertion.head())
convertion.shape

   USER_ID  mes
0       13    8
1       22   12
2       40    1
3       57    6
4       92    3

(1564, 2)

In [4]:
def get_trimestre(val):
    if val <= 3:
        return 1
    elif val <= 6:
        return 2
    elif val <= 9:
        return 3
    elif val <= 12:
        return 4
    return 0

convertion['trimestre'] = convertion['mes'].apply(get_trimestre)
for col in convertion.columns:
    print(col, convertion[col].unique().shape)

del convertion['mes']
convertion.head()

USER_ID (1086,)
mes (12,)
trimestre (4,)

   USER_ID  trimestre
0       13          3
1       22          4
2       40          1
3       57          2
4       92          1

In [5]:
convertion = convertion.drop_duplicates()[['USER_ID','trimestre']]
convertion.shape, convertion.groupby(by=['USER_ID', 'trimestre']).size().shape

((1403, 2), (1403,))

In [6]:
convertion['USER_ID'].unique().shape

(1086,)

In [15]:
dict_conversion = convertion.groupby(
    by=['trimestre']
)['USER_ID'].apply(
    lambda _: list(_)
).to_dict()

for k, v in dict_conversion.items():
    print(k, ' ',len(v), '  ->',str(round(len(v)*100/11767, 2)), '%')

1   246   -> 2.09 %
2   374   -> 3.18 %
3   392   -> 3.33 %
4   391   -> 3.32 %

In [16]:
gc.collect()

66

In [9]:
with open('convertions.json', 'w') as outfile_names:
    json.dump(dict_conversion, outfile_names)