In [1]:
# Nativos
import random as rn
import os
import sys
import gc

#calculo
import numpy as np
import pandas as pd
import scipy as sp

#grafico
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
%matplotlib inline
sns.set(style="whitegrid")

#warning ignore future
import warnings
# warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")
gc.collect()

BASE_DIR = os.path.dirname(os.getcwd())
if BASE_DIR not in sys.path: sys.path.append(BASE_DIR)

from utils import *
#from graphs import *

SEED = 29082013
os.environ['PYTHONHASHSEED']=str(SEED)
np.random.seed(SEED)
rn.seed(SEED)

subfolder = "data"
os.listdir(subfolder)

['.ipynb_checkpoints',
 'CONTENT_CATEGORY.zip',
 'CONTENT_CATEGORY_BOTTOM.zip',
 'CONTENT_CATEGORY_TOP.zip',
 'conversiones.zip',
 'data.zip',
 'data2.zip',
 'device_data.zip',
 'PAGE.zip',
 'pageviews.zip',
 'pageviews_complemento.zip',
 'pageview_with_previous_2.csv',
 'sampleSubmission.zip',
 'SITE_ID.zip']

## PAGINA SIMPLE

In [2]:
col_user = 'USER_ID'
one_hot_1 = 'PAGE'

In [3]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_1]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
pageview[one_hot_1] = pageview[one_hot_1].apply(lambda _: 'page_' + str(_.split('_')[-1]))
print(pageview.shape)
gc.collect()

pageview.head()

(22870354, 3)

   USER_ID trimestre     PAGE
0     7237         1   page_2
1     4913         1   page_2
2     4913         1   page_2
3     4913         1   page_3
4     4913         1  page_20

In [4]:
cruce = pd.crosstab(
    index=pageview[col_user], columns=pageview[one_hot_1]
)
print(cruce.shape)
cruce.head()

(11676, 1733)

PAGE,page_1,page_10,page_100,page_1000,page_1001,page_1002,page_1003,page_1004,page_1005,page_1006,...,page_990,page_991,page_992,page_993,page_994,page_995,page_996,page_997,page_998,page_999
USER_ID,,,,,,,,,,,,,,,,,,,,,
0,182,737,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,219,271,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,77,142,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,33,548,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
cruce = cruce.reset_index()
gc.collect()

cruce.head()

PAGE,USER_ID,page_1,page_10,page_100,page_1000,page_1001,page_1002,page_1003,page_1004,page_1005,...,page_990,page_991,page_992,page_993,page_994,page_995,page_996,page_997,page_998,page_999
0,0,0.028300,0.114601,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.103742,0.128375,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.032517,0.059966,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.005168,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.010628,0.176490,0.000966,0.000322,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:

print(cruce.shape)
cruce.head()

(11676, 1734)

PAGE,USER_ID,page_1,page_10,page_100,page_1000,page_1001,page_1002,page_1003,page_1004,page_1005,...,page_990,page_991,page_992,page_993,page_994,page_995,page_996,page_997,page_998,page_999
0,0,0.028300,0.114601,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.103742,0.128375,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.032517,0.059966,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.005168,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.010628,0.176490,0.000966,0.000322,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
del pageview
gc.collect()

44

In [8]:
treshold = cruce.shape[0]*1/200
treshold

58.38

In [9]:
cols_del = []
for col in list(cruce.columns)[1:]:
    
    columna = cruce[col]
    size = len(columna[columna > 0])
    
    if size < treshold:
        cols_del.append(col) 
        
print("len(cols_del): ", len(cols_del))

cruce = cruce.drop(cols_del, axis=1)
print(cruce.shape)

cols_select = list(cruce.columns)
del cruce
gc.collect()
len(cols_select)

len(cols_del):  937
(11676, 797)

797

In [10]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_1]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

pageview.head()

(22870354, 3)

   USER_ID trimestre    PAGE
0     7237         1  none_2
1     4913         1  none_2
2     4913         1     2_2
3     4913         1     2_3
4     4913         1    3_20

In [11]:
pageview[one_hot_1] = pageview[one_hot_1].apply(lambda _: 'page_' + str(_.split('_')[-1]))
pageview.head()

   USER_ID trimestre     PAGE
0     7237         1   page_2
1     4913         1   page_2
2     4913         1   page_2
3     4913         1   page_3
4     4913         1  page_20

In [12]:
trimestral = []

for trimestre in pageview['trimestre'].unique():
    print("/"*50, " trimestre: ", trimestre)
    cruce = pd.crosstab(
        pageview[pageview['trimestre'] == trimestre][col_user], 
        pageview[pageview['trimestre'] == trimestre][one_hot_1]
    )
    cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
    cruce = cruce.reset_index()
    
    cols_cruce = list(cruce.columns)
    cols_del = set(cols_cruce) - set(cols_select)
    print("cols_del: ", len(cols_del))
    
    cols_autocompletar = set(cols_select) - set(cols_cruce)
    print("cols_autocompletar: ", len(cols_autocompletar))
    for col in cols_autocompletar:
        cruce[col] = 0
    
    cruce['trimestre'] = trimestre
    
    trimestral.append(cruce[['trimestre'] + cols_select])
    del cols_cruce
    del cruce
    
    pageview = pageview[pageview['trimestre'] != trimestre]
    gc.collect()

//////////////////////////////////////////////////  trimestre:  1
cols_del:  538
cols_autocompletar:  109
//////////////////////////////////////////////////  trimestre:  2
cols_del:  573
cols_autocompletar:  71
//////////////////////////////////////////////////  trimestre:  3
cols_del:  549
cols_autocompletar:  50
//////////////////////////////////////////////////  trimestre:  4
cols_del:  544
cols_autocompletar:  138

In [13]:
pageview = pd.concat(
    trimestral,
    ignore_index=True,
    axis=0
)

pageview.shape

(44924, 798)

In [14]:
pageview.to_csv('pageview_simple_trimestral_percent.csv', index=False)
pageview.head()

PAGE,trimestre,USER_ID,page_1,page_10,page_100,page_1000,page_1001,page_1018,page_1019,page_102,...,page_950,page_96,page_963,page_97,page_972,page_98,page_980,page_99,page_994,page_997
0,1,0,0.058121,0.177621,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
1,1,1,0.125201,0.176565,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
2,1,2,0.038186,0.145585,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3,1,3,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
4,1,4,0.019516,0.270882,0.002342,0.0,0.0,0.0,0.0,0.004684,...,0.0,0.000781,0.0,0.000781,0.0,0.000781,0.0,0.004684,0.0,0.0

In [15]:
try:
    gc.collect()
    del pageview
    gc.collect()
except: 
    pass

In [16]:
try:
    gc.collect()
    del trimestral
    gc.collect()
except: 
    pass

In [17]:
try:
    gc.collect()
    del cruce
    gc.collect()
except: 
    pass

In [18]:
gc.collect()

22

## PAGINA

In [19]:
col_user = 'USER_ID'
one_hot_1 = 'PAGE'

In [ ]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_1]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

pageview.head()

In [ ]:
pageview.dtypes

In [ ]:
cruce = pd.crosstab(
    index=pageview[col_user], columns=pageview[one_hot_1]
)
gc.collect()
cruce.shape

In [ ]:
del pageview

In [ ]:
gc.collect()

In [ ]:
cruce['total'] = cruce.sum(axis=1)

In [ ]:
cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
cruce = cruce.reset_index()

In [ ]:
del cruce['total']
gc.collect()
cruce.head()

### Select columns con recurrencia > 0.5%

In [ ]:
cols_del = []
for col in list(cruce.columns)[1:]:
    
    columna = cruce[col]
    size = len(columna[columna > 0])
    
    if size < treshold:
        cols_del.append(col) 
        
print("len(cols_del): ", len(cols_del))

cruce = cruce.drop(cols_del, axis=1)
print(cruce.shape)

cols_select = list(cruce.columns)
del cruce
gc.collect()
len(cols_select)

### Denuevo cargamos las visitas

In [ ]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_1]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

pageview.head()

In [ ]:
for trimestre in pageview['trimestre'].unique():
    print(
        trimestre,
        pageview[pageview['trimestre'] == trimestre]['USER_ID'].unique().shape
    )

In [ ]:
trimestral = []

for trimestre in pageview['trimestre'].unique():
    print("/"*50, " trimestre: ", trimestre)
    cruce = pd.crosstab(
        pageview[pageview['trimestre'] == trimestre][col_user], 
        pageview[pageview['trimestre'] == trimestre][one_hot_1]
    )
    cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
    cruce = cruce.reset_index()
    
    cols_cruce = list(cruce.columns)
    cols_del = set(cols_cruce) - set(cols_select)
    print("cols_del: ", len(cols_del))
    
    cols_autocompletar = set(cols_select) - set(cols_cruce)
    print("cols_autocompletar: ", len(cols_autocompletar))
    for col in cols_autocompletar:
        cruce[col] = 0
    
    cruce['trimestre'] = trimestre
    
    trimestral.append(cruce[['trimestre'] + cols_select])
    del cols_cruce
    del cruce
    
    pageview = pageview[pageview['trimestre'] != trimestre]
    gc.collect()

In [ ]:
try:
    gc.collect()
    del cruce
    gc.collect
except: 
    pass

In [ ]:
try:
    gc.collect()
    del pageview
    gc.collect
except: 
    pass

In [ ]:
len(trimestral)

In [ ]:
pageview = pd.concat(
    trimestral,
    ignore_index=True,
    axis=0
)

pageview.shape

In [ ]:
pageview.to_csv('pageview_trimestral_percent.csv', index=False)
pageview.head()

In [ ]:
try:
    gc.collect()
    del pageview
    gc.collect
except: 
    pass

In [ ]:
try:
    gc.collect()
    del trimestral
    gc.collect
except: 
    pass

## CATEGORIA

In [ ]:
one_hot_2 = 'CONTENT_CATEGORY'

In [ ]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_2]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

pageview.head()

In [ ]:
cruce = pd.crosstab(
    index=pageview[col_user], columns=pageview[one_hot_2]
)
cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
cruce = cruce.reset_index()
gc.collect()

del pageview
gc.collect()
cruce.head()

In [ ]:
treshold

In [ ]:
cols_del = []
for col in list(cruce.columns)[1:]:
    
    columna = cruce[col]
    size = len(columna[columna > 0])
    
    if size < treshold:
        cols_del.append(col)

In [ ]:
len(cols_del)

In [ ]:
cruce = cruce.drop(cols_del, axis=1)
print(cruce.shape)

cols_select = list(cruce.columns)
del cruce
gc.collect()
len(cols_select)

In [ ]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_2]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

pageview.head()

In [ ]:
trimestral = []

for trimestre in pageview['trimestre'].unique():
    print("/"*50, " trimestre: ", trimestre)
    cruce = pd.crosstab(
        pageview[pageview['trimestre'] == trimestre][col_user], 
        pageview[pageview['trimestre'] == trimestre][one_hot_2]
    )
    cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
    cruce = cruce.reset_index()
    
    cols_cruce = list(cruce.columns)
    cols_del = set(cols_cruce) - set(cols_select)
    print("cols_del: ", len(cols_del))
    
    cols_autocompletar = set(cols_select) - set(cols_cruce)
    print("cols_autocompletar: ", len(cols_autocompletar))
    for col in cols_autocompletar:
        cruce[col] = 0
    
    cruce['trimestre'] = trimestre
    
    trimestral.append(cruce[['trimestre'] + cols_select])
    del cols_cruce
    del cruce
    
    pageview = pageview[pageview['trimestre'] != trimestre]
    gc.collect()

In [ ]:
try:
    gc.collect()
    del cruce
    gc.collect
except: 
    pass

In [ ]:
pageview = pd.concat(
    trimestral,
    ignore_index=True,
    axis=0
)

print(pageview.shape)
pageview.head()

In [ ]:
pageview.to_csv('content_category_trimestral_percent.csv', index=False)
pageview.head()

In [ ]:
try:
    gc.collect()
    del pageview
    gc.collect
except: 
    pass

In [ ]:
try:
    gc.collect()
    del trimestal
    gc.collect
except: 
    pass

## SITE ID

In [ ]:
one_hot_2 = 'SITE_ID'

pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_2]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

cruce = pd.crosstab(
    index=pageview[col_user], columns=pageview[one_hot_2]
)
cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
cruce = cruce.reset_index()
gc.collect()

del pageview
gc.collect()
cruce.head()

In [ ]:
treshold

In [ ]:
cols_del = []
for col in list(cruce.columns)[1:]:
    
    columna = cruce[col]
    size = len(columna[columna > 0])
    
    if size < treshold:
        cols_del.append(col) 
        
print(len(cols_del))

cruce = cruce.drop(cols_del, axis=1)
print(cruce.shape)

cols_select = list(cruce.columns)
del cruce
gc.collect()
len(cols_select)

In [ ]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_2]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

trimestral = []

for trimestre in pageview['trimestre'].unique():
    print("/"*50, " trimestre: ", trimestre)
    cruce = pd.crosstab(
        pageview[pageview['trimestre'] == trimestre][col_user], 
        pageview[pageview['trimestre'] == trimestre][one_hot_2]
    )
    cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
    cruce = cruce.reset_index()
    
    cols_cruce = list(cruce.columns)
    cols_del = set(cols_cruce) - set(cols_select)
    print("cols_del: ", len(cols_del))
    
    cols_autocompletar = set(cols_select) - set(cols_cruce)
    print("cols_autocompletar: ", len(cols_autocompletar))
    for col in cols_autocompletar:
        cruce[col] = 0
    
    cruce['trimestre'] = trimestre
    
    trimestral.append(cruce[['trimestre'] + cols_select])
    del cols_cruce
    del cruce
    
    pageview = pageview[pageview['trimestre'] != trimestre]
    gc.collect()

In [ ]:
pageview = pd.concat(
    trimestral,
    ignore_index=True,
    axis=0
)

print(pageview.shape)
pageview.to_csv('site_id_trimestral_percent.csv', index=False)

In [ ]:
pageview.head()

### BUSQUEDAS

In [ ]:
one_hot_2 = 'ON_SITE_SEARCH_TERM'

pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_2]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

cruce = pd.crosstab(
    index=pageview[col_user], columns=pageview[one_hot_2]
)
cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
cruce = cruce.reset_index()
gc.collect()

del pageview
gc.collect()
cruce.head()

In [ ]:
cols_del = []
print(treshold)


for col in list(cruce.columns)[1:]:
    
    columna = cruce[col]
    size = len(columna[columna > 0])
    
    if size < treshold:
        cols_del.append(col) 
        
print(len(cols_del))

cruce = cruce.drop(cols_del, axis=1)
print(cruce.shape)

cols_select = list(cruce.columns)
del cruce
gc.collect()
len(cols_select)

In [ ]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_2]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

trimestral = []

for trimestre in pageview['trimestre'].unique():
    print("/"*50, " trimestre: ", trimestre)
    cruce = pd.crosstab(
        pageview[pageview['trimestre'] == trimestre][col_user], 
        pageview[pageview['trimestre'] == trimestre][one_hot_2]
    )
    cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
    cruce = cruce.reset_index()
    
    cols_cruce = list(cruce.columns)
    cols_del = set(cols_cruce) - set(cols_select)
    print("cols_del: ", len(cols_del))
    
    cols_autocompletar = set(cols_select) - set(cols_cruce)
    print("cols_autocompletar: ", len(cols_autocompletar))
    for col in cols_autocompletar:
        cruce[col] = 0
    
    cruce['trimestre'] = trimestre
    
    trimestral.append(cruce[['trimestre'] + cols_select])
    del cols_cruce
    del cruce
    
    pageview = pageview[pageview['trimestre'] != trimestre]
    gc.collect()

In [ ]:
pageview = pd.concat(
    trimestral,
    ignore_index=True,
    axis=0
)

print(pageview.shape)
pageview.to_csv('search_trimestral_percent.csv', index=False)

In [ ]:
pageview.head()

In [ ]:
cols_select

### DAYS

In [ ]:
one_hot_2 = 'tipo_dias'

pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', 'FEC_EVENT']]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
pageview['day'] = pageview['FEC_EVENT'].dt.day
pageview['tipo_dias'] = pageview['day'].apply(get_day_cut)
print(pageview.shape)
gc.collect()

cruce = pd.crosstab(
    index=pageview[col_user], columns=pageview[one_hot_2]
)
cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
cruce = cruce.reset_index()
gc.collect()

del pageview
gc.collect()
cruce.head()

In [ ]:
cols_del = []
print(treshold)


for col in list(cruce.columns)[1:]:
    
    columna = cruce[col]
    size = len(columna[columna > 0])
    
    if size < treshold:
        cols_del.append(col) 
        
print(len(cols_del))

cruce = cruce.drop(cols_del, axis=1)
print(cruce.shape)

cols_select = list(cruce.columns)
del cruce
gc.collect()
len(cols_select)

In [ ]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', 'FEC_EVENT']]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
pageview['day'] = pageview['FEC_EVENT'].dt.day
pageview['tipo_dias'] = pageview['day'].apply(get_day_cut)
print(pageview.shape)
gc.collect()

trimestral = []

for trimestre in pageview['trimestre'].unique():
    print("/"*50, " trimestre: ", trimestre)
    cruce = pd.crosstab(
        pageview[pageview['trimestre'] == trimestre][col_user], 
        pageview[pageview['trimestre'] == trimestre][one_hot_2]
    )
    cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
    cruce = cruce.reset_index()
    
    cols_cruce = list(cruce.columns)
    cols_del = set(cols_cruce) - set(cols_select)
    print("cols_del: ", len(cols_del))
    
    cols_autocompletar = set(cols_select) - set(cols_cruce)
    print("cols_autocompletar: ", len(cols_autocompletar))
    for col in cols_autocompletar:
        cruce[col] = 0
    
    cruce['trimestre'] = trimestre
    
    trimestral.append(cruce[['trimestre'] + cols_select])
    del cols_cruce
    del cruce
    
    pageview = pageview[pageview['trimestre'] != trimestre]
    gc.collect()

In [ ]:
pageview = pd.concat(
    trimestral,
    ignore_index=True,
    axis=0
)

print(pageview.shape)
pageview.to_csv('rango_dias_trimestral_percent.csv', index=False)

In [ ]:
pageview.head()

### SCHEDULE

In [ ]:
one_hot_2 = 'horario'

pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', 'schedule', 'weekday']]


pageview['USER_ID'] = pageview['USER_ID'].astype(int)
pageview[one_hot_2] = pageview['weekday'] + '_' + pageview['schedule']
print(pageview.shape)
gc.collect()

cruce = pd.crosstab(
    index=pageview[col_user], columns=pageview[one_hot_2]
)
cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
cruce = cruce.reset_index()
gc.collect()

del pageview
gc.collect()
cruce.head()

In [ ]:
cols_del = []
print(treshold)


for col in list(cruce.columns)[1:]:
    
    columna = cruce[col]
    size = len(columna[columna > 0])
    
    if size < treshold:
        cols_del.append(col) 
        
print(len(cols_del))

cruce = cruce.drop(cols_del, axis=1)
print(cruce.shape)

cols_select = list(cruce.columns)
del cruce
gc.collect()
len(cols_select)

In [ ]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', 'schedule', 'weekday']]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
pageview[one_hot_2] = pageview['weekday'] + '_' + pageview['schedule']
print(pageview.shape)
gc.collect()

trimestral = []

for trimestre in pageview['trimestre'].unique():
    print("/"*50, " trimestre: ", trimestre)
    cruce = pd.crosstab(
        pageview[pageview['trimestre'] == trimestre][col_user], 
        pageview[pageview['trimestre'] == trimestre][one_hot_2]
    )
    cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
    cruce = cruce.reset_index()
    
    cols_cruce = list(cruce.columns)
    cols_del = set(cols_cruce) - set(cols_select)
    print("cols_del: ", len(cols_del))
    
    cols_autocompletar = set(cols_select) - set(cols_cruce)
    print("cols_autocompletar: ", len(cols_autocompletar))
    for col in cols_autocompletar:
        cruce[col] = 0
    
    cruce['trimestre'] = trimestre
    
    trimestral.append(cruce[['trimestre'] + cols_select])
    del cols_cruce
    del cruce
    
    pageview = pageview[pageview['trimestre'] != trimestre]
    gc.collect()

In [ ]:
pageview = pd.concat(
    trimestral,
    ignore_index=True,
    axis=0
)

print(pageview.shape)
pageview.to_csv('schedule_trimestral_percent.csv', index=False)

In [ ]:
pageview.head()

In [ ]:
try:
    gc.collect()
    del pageview
except:
    pass

In [ ]:
try:
    gc.collect()
    del cruce
except:
    pass

In [ ]:
try:
    gc.collect()
    del trimestral
except:
    pass

#### MISMO DIA

In [ ]:
one_hot_2 = 'schedule'

pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre','schedule']]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

cruce = pd.crosstab(
    index=pageview[col_user], columns=pageview[one_hot_2]
)
cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
cruce = cruce.reset_index()
gc.collect()

del pageview
gc.collect()
cruce.head()

In [ ]:
cols_del = []
print(treshold)

for col in list(cruce.columns)[1:]:
    columna = cruce[col]
    size = len(columna[columna > 0])
    
    if size < treshold:
        cols_del.append(col) 

print(len(cols_del))

cruce = cruce.drop(cols_del, axis=1)
print(cruce.shape)

cols_select = list(cruce.columns)
del cruce
gc.collect()
len(cols_select)

In [ ]:
one_hot_2

In [ ]:
pageview = pd.read_csv(
    "{}/pageview_with_previous_2.csv".format(subfolder), parse_dates=["FEC_EVENT"], dtype=str
).sort_values(
    ["FEC_EVENT"]
)[[col_user, 'trimestre', one_hot_2]]

pageview['USER_ID'] = pageview['USER_ID'].astype(int)
print(pageview.shape)
gc.collect()

In [ ]:
trimestral = []

for trimestre in pageview['trimestre'].unique():
    print("/"*50, " trimestre: ", trimestre)
    cruce = pd.crosstab(
        pageview[pageview['trimestre'] == trimestre][col_user], 
        pageview[pageview['trimestre'] == trimestre][one_hot_2]
    )
    cruce = cruce.apply(lambda x: x / x.sum(), axis=1)
    cruce = cruce.reset_index()
    
    cols_cruce = list(cruce.columns)
    cols_del = set(cols_cruce) - set(cols_select)
    print("cols_del: ", len(cols_del))
    
    cols_autocompletar = set(cols_select) - set(cols_cruce)
    print("cols_autocompletar: ", len(cols_autocompletar))
    for col in cols_autocompletar:
        cruce[col] = 0
    
    cruce['trimestre'] = trimestre
    
    trimestral.append(cruce[['trimestre'] + cols_select])
    del cols_cruce
    del cruce
    
    pageview = pageview[pageview['trimestre'] != trimestre]
    gc.collect()

In [ ]:
pageview = pd.concat(
    trimestral,
    ignore_index=True,
    axis=0
)

print(pageview.shape)
pageview.to_csv('mismo_trimestral_percent.csv', index=False)
pageview.head()

In [ ]:
del pageview
del trimestral